<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UQG Backend | Front</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        .header {
            background-color: rgb(223, 237, 248);
            background-image: url('http://34.107.56.143/assets/images/auth-bg.png');
            height: 100vh;
        }
        nav {
            display: flex;
            justify-content: space-around;
            padding: 20px;
            background-color: darkorange;
        }
        .logo a {
            font-size: 25px;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
        }
        button {
            background: none;
            border: none;
        }
        button a {
            text-decoration: none;
            color: darkorange;
            background: #fff;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            border: 2px solid #fff;
            transition: all 0.3s ease;
            font-weight: 500;
        }
        button a:hover {
            color: #fff;
            background: darkorange;
            border: 2px solid #fff;
        }
    </style>
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo">
                <a href="#">USA-Peptide-Lab</a>
            </div>
            <div class="menus">
                <button><a href=''>Login</a></button>
            </div>
        </nav>
    </div>
    
</body>
</html>